<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>

<body>
    <h2>Productos</h2>
    <% if(productos){ productos.forEach(product=> { %>
        <p>
            <%= product.name %>
        </p>
        <p>
            <%= product.SubCategories.name %>
        </p>
        <img src="/img/<%=product.productImg %>" class="productImg" width="100px" height="100px" alt="">
        <br>
        <% if(profile !=null){ if( profile=="Administrador" ) {%>
            <button><a href="/product/modifyproduct/<%=product.product_id %>">Editar</a></button>
            <% } %>
                <div>
                    <p>Sotck: <input type="number" name="stock" class="stock" value="<%= product.stock %>">
                    </p>
                </div>
                <div>
                    <label for="">Cantidad</label>
                    <button class="decrease " value="<%=product.product_id %>">-</button><button class="increase"
                        value="<%=product.product_id %>">+</button>
                    <p>
                        <%=product.product_id%>
                    </p>
                </div>
                <form action="/product/all" method="POST">
                    <input type="number" class="quantity" id="<%=product.product_id %>" name="quantity" value="1">
                    <button type="submit" value=<%=product.product_id %> name="product_id">Agregar al carrito</button>
                </form>
                <br><br>
                <%}}); } %>
                    <br><br>
                    <a href="/">Volver</a>
                    <a href="/product/create">Agregar producto</a>
</body>
<script src="/js/shortFunctions/counterQuantity.js"></script>

</html>