<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>

<body>
    <h1>Carrito de <%= userCart[0].Users.name%>!</h1>
    <img src="/img/<%=userCart[0].Users.avatar %>" class="avatar" width="150px" height="100px" alt="">
    <br>
    <% if(userCart){ userCart.forEach(carro=> {

        %>
        <h4>Compra: <%= carro.cart_id%>
        </h4>
        <p>Producto: <%= carro.Products.name%>
        </p>
        <img src="/img/<%=carro.Products.productImg %>" class="productImg" width="100px" height="100px" alt="">
        <br>
        <p>Usuario: <%= carro.Users.name%>
        </p>
        <p>Cantidad:
            <%= carro.quantity%>
        </p>
        <form action="/cart/cart" method="POST">
            <input type="text" value="<%= carro.Users.user_id%>" name="user_id" /> c-----Esto no se tiene que ver
            <p>
                Precio de esta compra: $<%= parseInt(carro.Products.price) * parseInt(carro.quantity)%>
            </p>
            <button type="submit" value="<%= carro.cart_id %>" name="cart_id">Comprar</button>

        </form>
        <form id="deleteCartForm" class="delCartForm" action="/cart/cart/<%= carro.cart_id%>?_method=DELETE"
            method="POST">
            <input type="submit" value="Eliminar">
        </form>

        <br><br>
        <% })%>
            <form action="/cart/fullSale" method="POST">
                <input type="text" value="<%= userCart[0].user_id%>" name="user_id" />
                <button type="submit">Comprar todo el carrito</button>

            </form>
            <% } %>

                <a href="/">Volver</a>
</body>

</html>